<div class="search-container">
    <h1>Login</h1>

    <p class="subtitle">Enter your Steam ID to login. Find your Steam ID at <a href="https://steamid.io" class="url">steamid.io</a>p>
    
    <div class="search-form">
        <mat-form-field appearance="outline" class="search-field">
            
        </mat-form-field>
    </div>

    <button mat-button (click)="onEnter()" [disabled]="isLoading" class="search-button">
        @if (isLoading) {
            <mat-spinner diameter="20"></mat-spinner>
        }
        @else {
            <ng-container>Continue</ng-container>
        }
    </button>

    @if (error) {
    <div class="error-message">
        <mat-icon>error</mat-icon>
        {{ error }}
    </div>
    }
</div>