export GAMES_CSV="/home/cherryquartzio/Repositories/project-steam-engine/backend/data/raw/games.csv"
# export PGHOST=localhost
export PGPORT=5432
export PGDATABASE=steam_collab
export PGUSER=cherryquartzio
