GAMES_CSV="/home/cherryquartzio/Repositories/project-steam-engine/backend/data/raw/games.csv"
# export PGHOST=localhost
PGPORT=5432
PGDATABASE='steam_collab'
PGUSER='cherryquartzio'
PGHOST='/var/run/postgresql'