export GAMES_CSV="/Users/jensonphan/cs125/backend/data/raw/games.csv"
export SQL_DIR=~/cs125/learning/sql
export PGHOST=localhost
export PGPORT=8080
export PGDATABASE=steam_learning
export PGUSER=postgres
