@if (game) {
    <mat-card class="game-card" [class.has-details]="game">
    <div class="game-image">     <!-- Cover image  -->
        @if (game.headerImage) {
            <img [src]="game!.headerImage" [alt]="game.name || 'Unknown Game'" />
        } @else {
            <div class="placeholder-image">
            <img src="steam.png" alt="Placeholder Image" />
            </div>
        }
    </div>
    
    <mat-card-content>
        <h3 class="game-title" [matTooltip]="game.name || ''">
            {{ game.name || 'Unknown Game' }}
        </h3>

        <div class="game-details">
            @if (game.genres.length > 0) {
                <div class="genres">
                @for (genre of game.genres.slice(0, 3); track genre) {
                    <mat-chip>{{ genre }}</mat-chip>
                }
                </div>
            }
            
            @if (game.description) {
                <p class="description">{{ truncateDescription(game.description) }}</p>
            }

            <div class="price-info">
                @if (game.isFree) {
                <span class="free-badge">Free to Play</span>
                } @else if (game.price) {
                <span class="price">${{ game.price.toFixed(2) }}</span>
                }
            </div>
        </div>
    </mat-card-content>
</mat-card>
}