<div class="search-container">
    <h1>Steam Game Library</h1>
    <p class="subtitle">Enter the Steam ID of your account</p>
    
    <div class="search-form">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Steam ID</mat-label>
        <input 
        matInput 
        [(ngModel)]="steamID" 
        placeholder="76561198012345678"
        (keyup.enter)="onSearch()"
        [disabled]="isLoading"
        >
        <mat-hint>Find your Steam ID at <a href="https://steamid.io" class="url">steamid.io</a></mat-hint>
    </mat-form-field>
    
    <button 
        mat-raised-button 
        color="primary" 
        (click)="onSearch()"
        [disabled]="!steamID || isLoading"
        class="search-button"
    >
        @if (isLoading) {
        <mat-spinner diameter="20"></mat-spinner>
        } @else {
        <ng-container>
            <mat-icon>search</mat-icon>
            Search
        </ng-container>
        }
    </button>
    </div>

    @if (error) {
    <div class="error-message">
        <mat-icon>error</mat-icon>
        {{ error }}
    </div>
    }
</div>