
<div class="search-form">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Steam ID</mat-label>
    <input 
        matInput [(ngModel)]="steamID" placeholder="" (keyup.enter)="onSteamIdEnter()" [disabled]="isLoading"
    >
    </mat-form-field>
</div>

<button (click)="onSteamIdEnter()" [disabled]="isLoading" class="search-button">
    @if (isLoading) {
        <mat-spinner diameter="20"></mat-spinner>
    }
    @else {
        <ng-container>Continue</ng-container>
    }
</button>

@if (error) {
<div class="error-message">
    <mat-icon>error</mat-icon>
    {{ error }}
</div>
}