
<div class="search-form">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>{{credential_type}}</mat-label>
    <input 
        matInput [(ngModel)]="entered_text" placeholder="" (keyup.enter)="onEnter()" [disabled]="isLoading"
    >
    </mat-form-field>
</div>

<button (click)="onEnter()" [disabled]="isLoading" class="search-button">
    @if (isLoading) {
        <mat-spinner class="custom-color-spinner" diameter="20" color="primary"></mat-spinner>
    }
    @else {
        <ng-container>Confirm</ng-container>
    }
</button>

@if (error) {
<div class="error-message">
    <mat-icon>error</mat-icon>
    {{ error }}
</div>
}