<div class="search-container">
    <img id="gaben" src="gaben.jpg" alt="Gaben">

    <h1>I am Lord Gaben</h1>

    <p class="subtitle">I grant you game recommendations. Tell me a bit about what kinds of games you would prefer, and I'll show you the way</p>

    <div>
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Genre</mat-label>
            <mat-select multiple [(ngModel)]="selected_genre" panelClass="topunit">
                @for (genre of genres; track genre) {
                    <mat-option [value]="genre">{{ genre }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="search-field">
            <mat-label>Player count</mat-label>
            <mat-select [(ngModel)]="selected_player_count" panelClass="topunit">
                @for (player_count of player_counts; track player_count) {
                    <mat-option [value]="player_count">{{ player_count }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="search-form">
            <mat-label>Keyword(s)</mat-label>
            <input matInput [(ngModel)]="keyword_input" placeholder="" [disabled]="isLoading">
        </mat-form-field>
    </div>

    <!-- @if (!steamID_configured || !apiKey_configured) {
        <div class="config-warning">
            <mat-icon>warning</mat-icon>
            <p>To query, please configure your Steam ID and API Key in the configuration page.</p>
        </div>
    }
    @else {
        <button (click)="onQuery()" [disabled]="isLoading" class="search-button">
            @if (isLoading) {
                <mat-spinner class="custom-color-spinner" diameter="20"></mat-spinner>
            }
            @else {
                <ng-container>Suggest</ng-container>
            }
        </button>
    } -->

    
    <button (click)="onQuery()" [disabled]="isLoading" class="search-button">
        @if (isLoading) {
        <mat-spinner class="custom-color-spinner" diameter="20"></mat-spinner>
        }
        @else {
        <ng-container>Suggest</ng-container>
        }
    </button>

    @if (error) {
        <div class="error-message">
            <mat-icon>error</mat-icon>
            {{ error }}
        </div>
    }

</div>