<div class="search-container">
    @if (!steamID) {
        <h1>Enter your Steam ID</h1>
        <p class="subtitle">If you're not sure, go to <a href="https://steamid.io/">steamid.io</a></p>
        <app-user-search (hasSteamID)="onSteamIDReceived($event)"></app-user-search>
    }
    @else {
        <h1>About your current thinking</h1>

        <p class="subtitle">Briefly describe what games you're looking for</p>

        <div class="search-form">

            <mat-form-field appearance="outline" class="search-field">
                <mat-label>Genre</mat-label>
                <mat-select multiple [(ngModel)]="selected_genre">
                    @for (genre of genres; track genre) {
                        <mat-option [value]="genre">{{ genre }}</mat-option>
                    }
                </mat-select>

                <mat-label>Player count</mat-label>
                <mat-select [(ngModel)]="selected_player_count">
                    @for (player_count of player_counts; track player_count) {
                        <mat-option [value]="player_count">{{ player_count }}</mat-option>
                    }
                </mat-select>

                <mat-label>Keywords</mat-label>
                <input matInput [(ngModel)]="keyword_input" placeholder="" [disabled]="isLoading">
                
            </mat-form-field>
        </div>

        <button mat-button="filled" (click)="onQuery()" [disabled]="isLoading" class="search-button">
            @if (isLoading) {
                <mat-spinner diameter="20"></mat-spinner>
            }
            @else {
                <ng-container>Give me suggestions!</ng-container>
            }
        </button>
    }

    @if (error) {
        <div class="error-message">
            <mat-icon>error</mat-icon>
            {{ error }}
        </div>
    }

</div>